textarea {
	resize: none;
	height: 100px;
}

.success-message {
	margin-top: -1rem;
	color: green;
	margin-bottom: 5px;
}

.error-message {
	color: red;
}

.pagination {
	font-size: 20px;
	gap: 7px;
}

.pagination button {
	background-color: #fff;
	border: none;
}
